<div class="card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input class="input" placeholder="Username" formControlName="username" />
    <small class="error" *ngIf="isInvalid('username')">
      Username: 4-12 chars (letters/numbers/_)
    </small>

    <input class="input" type="email" placeholder="Email" formControlName="email" />
    <small class="error" *ngIf="isInvalid('email')">
      Enter a valid email
    </small>

    <input class="input" type="password" placeholder="Password" formControlName="password" />
    <small class="error" *ngIf="isInvalid('password')">
      Password: 8+ with upper, lower, number
    </small>

    <select class="input" formControlName="role">
      <option *ngFor="let r of roles; track r" [value]="r">{{ r }}</option>
    </select>

    <!-- Gender Radio Buttons -->
    <div class="radio-group">
      <label>Gender:</label><br>
      <input type="radio" formControlName="gender" value="Male" /> Male
      <input type="radio" formControlName="gender" value="Female" /> Female
    </div>

    <!-- Status -->
    <select class="input" formControlName="status">
      <option value="" disabled selected>Select status</option>
      <option value="Permanent">Permanent</option>
      <option value="Probationary">Probationary</option>
    </select>

    <!-- Comments -->
    <textarea class="input"
      formControlName="comments"
      placeholder="Enter comments"
      rows="4">
    </textarea>

    <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>

  </form>
</div>
